{% extends "base.html" %}
{% block titulo %} New {% endblock %}
{% block contenido %}
{% include '_menu.html' %}


<div class="container mt-3">
    
    {% if all_dojos  == None %}
    <p>No users Exits</p>
    {% else %}
    <div class="d-flex">
        <div class="p-3 flex-fill">
            <h1>New Dojo</h1>
            <div class="row mt-3">
                <div class="col-sm-4 col md-6">
                    <form action="/dojos" method="post">
                        <div class="mb-3 row">
                            <label for="dojo" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-20">
                                <input type="text" required class="form-control" name="name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-warning">Agregar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="p-2 flex-fill">
            <h1>All Dojos</h1>
            <div class="card text-bg-light mb-3" style="max-width: 400rem;">
                {% for dojo in all_dojos %}
                <div class="card-body">
                    <p>Name: <a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></p>
                </div>
                {% endfor %}
            </div>
            <a href="/ninjas"> Add Ninjas</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}